# !!! Order matters !!!

#ignored
#*
.*/
.ICEauthority
.Xauthority
.apport-ignore.xml
.bash_history
.bashrc.bak-09-sep-2012
.chromium-bsu
.cola
.dmrc
.face
.gitk
.gksu.lock
.gtk-bookmarks
.guard_history
.irb-history
.lesshst
.mysql_history
.netrc
.pgadmin3
.profile
.pry_history
.pulse-cookie
.steampath
.steampid
.swp
.vim.20130118
.vimfuzzyfinder
.viminfo.20130118
.viminfo
.vimrc.20121105
.vimrc.20130118
.vimrc.bundles.20130118
.vimrc.bundles.fork.20130118
.vimrc.bundles.local.20130118
.vimrc.fork.20130118
.vimrc.local.20130118
.vimviews
.xsession-errors
.xsession-errors.old
.zlogin
.zshrc
Apps/
Code/
Desktop/
Documents/
Downloads/
Dropbox/
Music/
Pictures/
Ubuntu One/
Videos/
dotfiles/
examples.desktop
fontconfig/
pgadmin.log
railsready.sh
railsready/
vmware/
xorg.conf.new
# 

#Mostly this file is whitelist, rather than ignore
!.bashrc
!.bash_logout
!.bash_login
!.gitconfig
!.vim/
!.vimrc
!.vimrc.local

