[submodule "vim/bundle/numbers.vim"]
	path = vim/bundle/numbers.vim
	url = https://github.com/myusuf3/numbers.vim.git
[submodule "vim/bundle/vim-dispatch"]
	path = vim/bundle/vim-dispatch
	url = https://github.com/tpope/vim-dispatch
[submodule "oh-my-zsh"]
	path = oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh.git
[submodule "vim/bundle/match-tag"]
	path = vim/bundle/match-tag
	url = https://github.com/gregsexton/MatchTag.git
[submodule "vim/bundle/vim-tags"]
	path = vim/bundle/vim-tags
	url = git@github.com:szw/vim-tags.git
[submodule "rbenv"]
	path = rbenv
	url = https://github.com/sstephenson/rbenv.git
