[user]
	name = Evan Bleiweiss
	email = evan.bleiweiss@gmail.com
[credential]
	helper = cache
[alias]
	co = checkout
	ci = commit -i
	st = status -sb
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --
